<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>board_list</title>
  <!-- <link rel="stylesheet" href="./css/main.css"> -->
</head>

<body>
  <h1>board_list</h1>
  <table border="2">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
    </tr>
    <% for(var i=0; i<rows.length; i++) { %>
      <tr>
        <td>
          <%=i+1%>
        </td>
        <td><a href="/board/list/<%=rows[i].board_uid%>">
            <%=rows[i].board_title%>
          </a></td>
        <td>
          <%=rows[i].board_writer%>
        </td>
      </tr>
      <% } %>

  </table>

  <form action="/board/list" method="get">
    <button type="submit" value="게시글 작성">
  </form>

</body>

</html>