<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board_list</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
</head>
<body>
    <h1 class = "board">Board_list</h1>
    <table class = "board" border="1">
        <th>순번</th>
        <th>제목</th>
        <th>작성자</th>
        <script>
        for(i=0;i<1;i++){
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        }
      </script>
        
        
    </table>
    <input type="button" value="게시글 작성" onclick="movepage()">
    <script type="text/javascript">
        function movepage(){
          location.href='content.ejs';
        }
    </script>
    
</body>
</html>