<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board_list</title>
    
</head>
<body>
    <h1>Board_list</h1>
    <table>
        <th>
            <tr>순번</tr>
            <tr>타이틀</tr>
            <tr>작성자</tr>
        </th>
        <tbody id = "table_body">
        </tbody>
    </table>
    
</body>
</html>