<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board_content</title>
</head>
<body>
    <h1>board_read</h1>
    <form action="/:board_uid" method="read">
        <table border="1">
            <tr>
                <td>작성자</td>
                <td>board_uid</td>
            </tr>
            <tr>
                <td>제목</td>
                <td>board_title</td>
            </tr>
            <tr>
                <td>내용</td>
                <td>board_content</td>
            </tr>
        </table>
    </form>
</body>
</html>